# # Central background samples (just relevant for CRs)

# Central UL16APV background samples
#root://cmsxrootd.crc.nd.edu/
file:///project01/ndcms/apiccine
#file:///cms/cephfs/data/
../../input_samples/sample_jsons/background_samples/central_UL/UL16APV_ZGToLLG_NDSkim.json
../../input_samples/sample_jsons/background_samples/central_UL/UL16APV_DY10to50_NDSkim.json
../../input_samples/sample_jsons/background_samples/central_UL/UL16APV_DY50_NDSkim.json
../../input_samples/sample_jsons/background_samples/central_UL/UL16APV_ST_antitop_t-channel_NDSkim.json
../../input_samples/sample_jsons/background_samples/central_UL/UL16APV_ST_top_s-channel_NDSkim.json
../../input_samples/sample_jsons/background_samples/central_UL/UL16APV_ST_top_t-channel_NDSkim.json
../../input_samples/sample_jsons/background_samples/central_UL/UL16APV_tbarW_NDSkim.json
../../input_samples/sample_jsons/background_samples/central_UL/UL16APV_tW_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL/UL16APV_WJetsToLNu_NDSkim.json
../../input_samples/sample_jsons/background_samples/central_UL/WJetsToLNu_centralUL16APV_NDSkim_2016APV.json

# # Central UL16 background samples
#root://cmsxrootd.crc.nd.edu/
file:///project01/ndcms/apiccine
#file:///cms/cephfs/data/
../../input_samples/sample_jsons/background_samples/central_UL/UL16_ZGToLLG_NDSkim.json
../../input_samples/sample_jsons/background_samples/central_UL/UL16_DY10to50_NDSkim.json
../../input_samples/sample_jsons/background_samples/central_UL/UL16_DY50_NDSkim.json
../../input_samples/sample_jsons/background_samples/central_UL/UL16_ST_antitop_t-channel_NDSkim.json
../../input_samples/sample_jsons/background_samples/central_UL/UL16_ST_top_s-channel_NDSkim.json
../../input_samples/sample_jsons/background_samples/central_UL/UL16_ST_top_t-channel_NDSkim.json
../../input_samples/sample_jsons/background_samples/central_UL/UL16_tbarW_NDSkim.json
../../input_samples/sample_jsons/background_samples/central_UL/UL16_tW_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL/UL16_WJetsToLNu_NDSkim.json
../../input_samples/sample_jsons/background_samples/central_UL/WJetsToLNu_centralUL16_NDSkim_2016.json

# # Central UL17 background samples
#root://cmsxrootd.crc.nd.edu/
file:///project01/ndcms/apiccine
#file:///cms/cephfs/data/
../../input_samples/sample_jsons/background_samples/central_UL/UL17_ZGToLLG_NDSkim.json
../../input_samples/sample_jsons/background_samples/central_UL/UL17_DY10to50_NDSkim.json
../../input_samples/sample_jsons/background_samples/central_UL/UL17_DY50_NDSkim.json
../../input_samples/sample_jsons/background_samples/central_UL/UL17_ST_antitop_t-channel_NDSkim.json
../../input_samples/sample_jsons/background_samples/central_UL/UL17_ST_top_s-channel_NDSkim.json
../../input_samples/sample_jsons/background_samples/central_UL/UL17_ST_top_t-channel_NDSkim.json
../../input_samples/sample_jsons/background_samples/central_UL/UL17_tbarW_NDSkim.json
../../input_samples/sample_jsons/background_samples/central_UL/UL17_tW_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL/UL17_WJetsToLNu_NDSkim.json
../../input_samples/sample_jsons/background_samples/central_UL/WJetsToLNu_centralUL17_NDSkim_2017.json

# # Central UL18 background samples
#root://cmsxrootd.crc.nd.edu/
file:///project01/ndcms/apiccine
#file:///cms/cephfs/data/
../../input_samples/sample_jsons/background_samples/central_UL/UL18_ZGToLLG_NDSkim.json
../../input_samples/sample_jsons/background_samples/central_UL/UL18_DY10to50_NDSkim.json
../../input_samples/sample_jsons/background_samples/central_UL/UL18_DY50_NDSkim.json
../../input_samples/sample_jsons/background_samples/central_UL/UL18_ST_antitop_t-channel_NDSkim.json
../../input_samples/sample_jsons/background_samples/central_UL/UL18_ST_top_s-channel_NDSkim.json
../../input_samples/sample_jsons/background_samples/central_UL/UL18_ST_top_t-channel_NDSkim.json
../../input_samples/sample_jsons/background_samples/central_UL/UL18_tbarW_NDSkim.json
../../input_samples/sample_jsons/background_samples/central_UL/UL18_tW_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL/UL18_WJetsToLNu_NDSkim.json
../../input_samples/sample_jsons/background_samples/central_UL/WJetsToLNu_centralUL18_NDSkim_2018.json




# # Central background samples (just relevant for CRs)

# # Central UL16APV background samples
# root://cmsxrootd.crc.nd.edu/
# #file:///cms/cephfs/data/
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL16APV_ZGToLLG_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL16APV_DY10to50_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL16APV_DY50_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL16APV_ST_antitop_t-channel_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL16APV_ST_top_s-channel_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL16APV_ST_top_t-channel_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL16APV_tbarW_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL16APV_tW_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/WJetsToLNu_centralUL16APV_NDSkim_2016APV.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL16APV_TWZToLL_thad_Wlept_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL16APV_TWZToLL_tlept_Whad_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL16APV_TWZToLL_tlept_Wlept_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL16APV_TTGJets_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL16APV_TTGamma_Dilept_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL16APV_TTGamma_SingleLept_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL16APV_WWTo2L2Nu_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL16APV_WWW_4F_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL16APV_WWZ_4F_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL16APV_WZTo3LNu_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL16APV_WZZ_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL16APV_ZZTo4L_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL16APV_ZZZ_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL16APV_TTZToLL_M-1to10_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL16APV_TTTo2L2Nu_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL16APV_TTToSemiLeptonic_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL16APV_GluGluToContinToZZTo2e2mu_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL16APV_GluGluToContinToZZTo2e2nu_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL16APV_GluGluToContinToZZTo2e2tau_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL16APV_GluGluToContinToZZTo2mu2tau_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL16APV_GluGluToContinToZZTo4e_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL16APV_GluGluToContinToZZTo4mu_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL16APV_GluGluToContinToZZTo4tau_NDSkim.json

# # # Central UL16 background samples
# root://cmsxrootd.crc.nd.edu/
# #file:///cms/cephfs/data/
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL16_ZGToLLG_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL16_DY10to50_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL16_DY50_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL16_ST_antitop_t-channel_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL16_ST_top_s-channel_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL16_ST_top_t-channel_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL16_tbarW_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL16_tW_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/WJetsToLNu_centralUL16_NDSkim_2016.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL16_TWZToLL_thad_Wlept_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL16_TWZToLL_tlept_Whad_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL16_TWZToLL_tlept_Wlept_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL16_TTGJets_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL16_TTGamma_Dilept_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL16_TTGamma_SingleLept_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL16_WWTo2L2Nu_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL16_WWW_4F_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL16_WWZ_4F_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL16_WZTo3LNu_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL16_WZZ_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL16_ZZTo4L_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL16_ZZZ_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL16_TTZToLL_M-1to10_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL16_TTTo2L2Nu_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL16_TTToSemiLeptonic_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL16_GluGluToContinToZZTo2e2mu_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL16_GluGluToContinToZZTo2e2nu_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL16_GluGluToContinToZZTo2e2tau_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL16_GluGluToContinToZZTo2mu2tau_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL16_GluGluToContinToZZTo4e_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL16_GluGluToContinToZZTo4mu_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL16_GluGluToContinToZZTo4tau_NDSkim.json

# # # Central UL17 background samples
# root://cmsxrootd.crc.nd.edu/
# #file:///cms/cephfs/data/
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL17_ZGToLLG_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL17_DY10to50_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL17_DY50_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL17_ST_antitop_t-channel_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL17_ST_top_s-channel_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL17_ST_top_t-channel_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL17_tbarW_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL17_tW_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/WJetsToLNu_centralUL17_NDSkim_2017.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL17_TWZToLL_thad_Wlept_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL17_TWZToLL_tlept_Whad_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL17_TWZToLL_tlept_Wlept_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL17_TTGJets_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL17_TTGamma_Dilept_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL17_TTGamma_SingleLept_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL17_WWTo2L2Nu_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL17_WWW_4F_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL17_WWZ_4F_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL17_WZTo3LNu_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL17_WZZ_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL17_ZZTo4L_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL17_ZZZ_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL17_TTZToLL_M-1to10_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL17_TTTo2L2Nu_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL17_TTToSemiLeptonic_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL17_GluGluToContinToZZTo2e2mu_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL17_GluGluToContinToZZTo2e2nu_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL17_GluGluToContinToZZTo2e2tau_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL17_GluGluToContinToZZTo2mu2tau_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL17_GluGluToContinToZZTo4e_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL17_GluGluToContinToZZTo4mu_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL17_GluGluToContinToZZTo4tau_NDSkim.json

# # # Central UL18 background samples
# root://cmsxrootd.crc.nd.edu/
# #file:///cms/cephfs/data/
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL18_ZGToLLG_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL18_DY10to50_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL18_DY50_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL18_ST_antitop_t-channel_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL18_ST_top_s-channel_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL18_ST_top_t-channel_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL18_tbarW_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL18_tW_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/WJetsToLNu_centralUL18_NDSkim_2018.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL18_TWZToLL_thad_Wlept_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL18_TWZToLL_tlept_Whad_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL18_TWZToLL_tlept_Wlept_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL18_TTGJets_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL18_TTGamma_Dilept_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL18_TTGamma_SingleLept_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL18_WWTo2L2Nu_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL18_WWW_4F_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL18_WWZ_4F_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL18_WZTo3LNu_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL18_WZZ_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL18_ZZTo4L_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL18_ZZZ_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL18_TTZToLL_M-1to10_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL18_TTTo2L2Nu_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL18_TTToSemiLeptonic_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL18_GluGluToContinToZZTo2e2mu_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL18_GluGluToContinToZZTo2e2nu_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL18_GluGluToContinToZZTo2e2tau_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL18_GluGluToContinToZZTo2mu2tau_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL18_GluGluToContinToZZTo4e_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL18_GluGluToContinToZZTo4mu_NDSkim.json
# ../../input_samples/sample_jsons/background_samples/central_UL_cr/UL18_GluGluToContinToZZTo4tau_NDSkim.json