# Run 3 private LO tllq samples for missing-parton input pkl production.
# This cfg is intentionally limited to private tllq JSONs.

root://cmsxrootd.crc.nd.edu/
../../input_samples/sample_jsons/signal_samples/ND_skim2022/tllq_2022.json
../../input_samples/sample_jsons/signal_samples/ND_skim2022EE/tllq_2022EE.json
../../input_samples/sample_jsons/signal_samples/ND_skim2023/tllq_2023.json
../../input_samples/sample_jsons/signal_samples/ND_skim2023BPix/tllq_2023BPix.json
