name: CI

on:
  push:
  schedule:
    - cron: '0 1 * * *' # Test every day at 1AM
  
jobs:
  Full_Analysis:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Add conda to system path
        run: |
          echo $CONDA/bin >> $GITHUB_PATH 

      - name: Install dependencies
        run: |
          conda env update --file environment.yml --name base

      - name: Conda list
        run: |
          conda list

      - name: Install topcoffea package
        run: |
          pip install -e .

      - name: Download root files
        run: |
          wget http://www.crc.nd.edu/~ywan2/root_files/NAOD-00000_18449.root

      - name: Run processors over test files with futures executor
        run: |
          cd analysis/topEFT
          time python run.py ../../topcoffea/json/test_samples/UL17_private_ttH_for_CI.json -o output_check_yields

      - name: Get yields 
        run: |
          cd analysis/topEFT
          python get_yield_json.py -f histos/output_check_yields.pkl.gz -n output_check_yields

      - name: Compare yields
        run: |
          cd analysis/topEFT
          python comp_yields.py output_check_yields.json test/UL17_private_ttH_for_CI_yields.json -t1 "New yields" -t2 "Ref yields"
      - name: Generate coverage report
        run: |
          pip install pytest
          pip install pytest-cov
          pytest --cov=./ --cov-report=xml
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2
        with:
          token: ${{3c258450-b3be-43f6-9588-ce5cdd24bdc6}}
          directory: ./coverage/reports/
          env_vars: OS,PYTHON
          fail_ci_if_error: true
          files: ./coverage1.xml,./coverage2.xml
          flags: unittests
          name: codecov-umbrella
          path_to_write_report: ./coverage/codecov_report.txt
          verbose: true
